button {
  background-color: rgb(82 186 178) !important;
  border-color: rgb(82 186 178) !important
}
#prev,#next{
  background-color: #07766e!important;
  border-color: #07766e !important
}
.card{
  background-color: rgb(82 186 178) !important;
  border-color: rgb(82 186 178) !important
}